{% extends "base.html" %}
{%block selected5%}active{%endblock%}
{% load static %}

{% block content %}
<link href="{% static "plugins/sweetalerts/sweetalert2.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "plugins/sweetalerts/sweetalert.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/css/components/custom-sweetalert.css" %}" rel="stylesheet" type="text/css" />
   <link href="{% static "plugins/bootstrap-range-Slider/bootstrap-slider.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "plugins/notification/snackbar/snackbar.min.css" %}" rel="stylesheet" type="text/css" />

<div id="content" class="main-content">
            <div class="container">

                <div class="container">




                                        <div class="row layout-spacing layout-top-spacing">
                                                <div id="flFormsGrid" class="col-lg-12 layout-spacing">
                                                    <div class="statbox widget box box-shadow">
                                                        <div class="widget-header">
                                                            <div class="row">
                                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                    <h4>Create a Zone</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="widget-content widget-content-area">
                                                            <form action="/create_zone_get/" method="GET" id="myForm">
                                                                <div class="form-row mb-4">
                                                                    <div class="form-group col-md-6">
                                                                        <label for="inputEmail4" > Zone Name</label>
                                                                        <input type="text" class="form-control" id="inputEmail4" placeholder="Name" name="zone_name" required="">
                                                                    </div>

                                                                </div>
                                                                <div class="form-group mb-4">
                                                                    <label for="inputAddress">How long the soil should be watered? (in milliseconds)</label>
                                                                    <input type="number" class="form-control" id="inputAddress" name="watering_time" required="">
                                                                </div>
                                                                <div class="form-group mb-4">
                                                                  <label for="soil_moisture">Minimum Soil moisture</label>

                                                                  <div class="custom-progress bottom-right progress-down" style="width: 100%">
                                                <input type="range" min="0" max="100" class="custom-range progress-range-counter"  id="soil_moisture" value="0" name="soil_moisture" required="">

                                                <div class="range-count"><span class="range-count-number" id="soil_value" data-rangecountnumber="0"></span> <span class="range-count-unit">%</span></div>
                                            </div>

                                                                </div>
                                                                <div class="form-row mb-4">
                                                                    <div class="form-group col-md-6">
                                                                        <label for="inputCity">Device</label>
                                                                      <select id="inputCity" class="form-control" name="device_id" required="">
                                                                        {% for device in devices %}
                                                                          <option > {{device.title}}</option>
                                                                        {%endfor%}

                                                                      </select>                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                          <label for="inputState">GPIO Pin</label>
                                                                        <select id="inputState" class="form-control" name="gpio_pin" required="">
                                                                            <option >16</option>



                                                                            <option>2</option>

                                                                            <option>14</option>

                                                                      

                                                                        </select>
                                                                    </div>

                                                                </div>

                                                              <button type="button" class="btn btn-primary mt-3" id="submit_save">Save</button>
                                                              <button type="reset" class="btn btn-secondary mt-3" id="submit_reset">Reset</button>

                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


            </div>


          </div>


{%endblock%}
{%block footer%}
<script src="{% static "plugins/blockui/jquery.blockUI.min.js" %}"></script>

<script src="{% static "plugins/blockui/custom-blockui.js" %}"></script>

<script src="{% static "plugins/sweetalerts/sweetalert2.min.js" %}"></script>
<script src="{% static "plugins/sweetalerts/custom-sweetalert.js" %}"></script>
<script src="{% static "plugins/notification/snackbar/snackbar.min.js" %}"></script>
    <!-- END PAGE LEVEL PLUGINS -->

    <script src="{% static "plugins/bootstrap-range-Slider/bootstrap-rangeSlider.js" %}></script>
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script src="{% static "assets/js/components/notification/custom-snackbar.js" %}"></script>
    <!--  END CUSTOM SCRIPTS FILE  -->

<script>
  var slider = document.getElementById("soil_moisture");
  var output = document.getElementById("soil_value");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>
<script>
  $( document ).ready(function() {
    $('#submit_save').on('click', function () {
    swal({
        title: 'Are you sure?',
        text: "You want to save this",
        showCancelButton: true,
        confirmButtonText: 'Save',
        padding: '2em'
      }).then(function(result) {
        if (result.value) {
          $("#myForm").submit(); // Submit the form

        }
      })
  });



  });

  $("#myForm").submit(function(event) {
      event.preventDefault();
      $.ajax({ data: $(this).serialize(),
               type: $(this).attr('method'),
               url: $(this).attr('action'),
               success: function(response) {
                    console.log(response);
                    if(response['success']) {
                      Snackbar.show({
        text: 'Successfully saved the zone profile.',
        pos: 'bottom-right',
        actionTextColor: '#fff',
       backgroundColor: '#8dbf42'
    });
                              $("#myForm").trigger("reset");

                    }
                    if(response['error']) {

    Snackbar.show({
      text:  response['error'],
          pos: 'bottom-right',
          actionTextColor: '#fff',
              backgroundColor: '#e7515a'
  });

                    }
               },
               error: function (request, status, error) {
                    console.log(request.responseText);
               }
      });
  });
</script>
{%endblock%}
